<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/public/assets/css/burger_style.css"/>
		<title>Burger App</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		{{!-- <script src="/public/assets/js/burgers.js"></script> --}}
	</head>
	<body>
		<a href="http://science.sciencemag.org/content/361/6399/eaam5324">thought for food</a>
		<a href="http://wwf.panda.org/our_work/forests/deforestation_fronts/deforestation_in_the_amazon/">still not convinced?</a>

		{{{ body }}}
	</body>
</html>